In [13]:
import scanpy as sc
import pandas as pd
import numpy as np
import seaborn as sns

from anndata import AnnData

In [19]:
# index_col = 0 -> Set the first column as row name
raw_df = pd.read_csv('./brainCscaleddata.csv',
                     sep=',',
                     index_col=0).T

In [55]:
adata = AnnData(X=raw_df.to_numpy(), dtype=np.float32)
adata.obs['cell_id'] = raw_df.index
adata.var['gene_id'] = raw_df.columns
adata

AnnData object with n_obs × n_vars = 1803 × 32285
    obs: 'cell_id'
    var: 'gene_id'

In [57]:
adata.obs

                 cell_id
0     AAACAAGTATCTCCCA.1
1     AAACATTTCCCGGATT.1
2     AAACCCGAACGAAATC.1
3     AAACCTAAGCAGCCGG.1
4     AAACGAGACGGTTGAT.1
...                  ...
1798  TTGTGTATGCCACCAA.1
1799  TTGTGTTTCCCGAAAG.1
1800  TTGTTAGCAAATTCGA.1
1801  TTGTTCAGTGTGCTAC.1
1802  TTGTTGTGTGTCAAGA.1

[1803 rows x 1 columns]

In [41]:
position_df = pd.read_csv('./tissue_positions_list.csv',
                          sep=',',
                          header=None)
# set the column names
position_df.columns = ['barcode','in_tissue','array_row','array_col','pxl_row_in_fullres','pxl_col_in_fullres']

In [74]:
# relpace '-' to '.', example: AAACAAGTATCTCCCA-1 to AAACAAGTATCTCCCA.1
position_df['barcode'] = position_df['barcode'].str.replace('-', '.')

In [75]:
s

,barcode,in_tissue,array_row,array_col,pxl_row_in_fullres,pxl_col_in_fullres
0,ACGCCTGACACGCGCT.1,0,0,0,10797,1285
1,TACCGATCCAACACTT.1,0,1,1,10722,1419
2,ATTAAAGCGGACGAGC.1,0,0,2,10644,1287
3,GATAAGGGACGATTAG.1,0,1,3,10570,1421
4,GTGCAAATCACCAATA.1,0,0,4,10491,1289
...,...,...,...,...,...,...
4987,GAACGTTTGTATCCAC.1,0,77,123,1535,11657
4988,ATTGAATTCCCTGTAG.1,0,76,124,1457,11525
4989,TACCTCACCAATTGTA.1,0,77,125,1382,11659
4990,AGTCGAATTAGCGTAA.1,0,76,126,1304,11527
4991,TTGAAGTGCATCTACA.1,0,77,127,1229,11661